[submodule "vendor/ZendFramework"]
	path = vendor/ZendFramework
	url = git://github.com/zendframework/zf2.git
[submodule "module/ZfTwig"]
	path = module/ZfTwig
	url = git@github.com:mtymek/ZfTwig.git
